/**
 * Basic styling for webpage. Specific styling are in the other css-files.
 */
* {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    overflow-y: scroll;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url("../img/asfalt.jpg");
}

h1,
h2,
h3 {
    margin-bottom: 0.2em;
}

article div {
    margin: 1em;
}

ul {
    overflow: hidden;
}

/**
 * responsive
 */
@media (max-width: 980px) {
    pre {
        background-color: #fff;
    }
}
